<!-- add.html -->
{% extends 'layout.html' %}

{% block content %}
<section id="showcase">
	<div class="container">
		<h2>Adding namedes to names book</h2>
		<p>Fill the form and add a new named to the named book</p>
			<form action="{{ url_for('view') }}" method='post'>
			<!-- form.hidden_tag() -->
			{{ form.name.label }} {{ form.name }}
				{% if form.name.errors %}
					<ul>
					{% for error in form.name.errors %}
						<li>{{ error }}
					{% endfor %}
					</ul>
				{% endif %}
				<br>
				<input type="submit" value="Add">
			</form>
	</div>
</section>
{% endblock %}
